
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3300px;
    border: solid black 2px;
}

.en {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border: solid black 2px;
}

img {
    height: 300px;
    width: 500px;
    padding: 10px;
}

.credits1 {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50%;
}

.to {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border: solid black 2px;
    background-color: rgb(230, 244, 255);
}

.tre {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border: solid black 2px;
}


.fire {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border: solid black 2px;
    background-color: rgb(230, 244, 255);
}

.fem {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border: solid black 2px;
}

.seks {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border: solid black 2px;
    background-color: rgb(230, 244, 255);
}

.syv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border: solid black 2px;
}

.otte {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border: solid black 2px;
    background-color: rgb(230, 244, 255);
}

.ni {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border: solid black 2px;
}

.ti {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border: solid black 2px;
    background-color: rgb(230, 244, 255);
}
