body {
    width: 100%;
    background-color: rgb(239, 219, 195);
}

/*main container, gjør om hvordan hele sulamitten ser ut*/
.main-container {
    height: 2500px;
}

/*container til header, hero image, middle*/
.container {
    border: solid rgb(188, 145, 96);
}

/* h1 taggen i conteineren*/
.container h1 {
    text-shadow:black 2px 2px;
}

/*alle bilder*/
img {
    width: 100%;
}

/*alle paragraphs*/
p {
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

/*alle h1 tagger*/
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
}

/* alle h3 tagger*/
h3 {
    font-weight: lighter;
    text-shadow:rgb(122, 71, 9) 1px 1px;
    color: rgb(188, 145, 96);
}

/*alle a tagger*/
a {
    text-decoration: none;
    color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/*header css*/
.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid rgb(188, 145, 96);
}

/*h1 i headeren, altså logoen */
.header h1 {
    font-size: 40px;
    color: rgb(188, 145, 96);
    text-shadow:rgb(121, 18, 18) 1px 1px;
    padding: 20px;
}

/*socmed er de sosiale mediene som står i headeren*/
.socmed {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}


/*frame er spotify lenkene*/
frame {
    padding: 10px;
}

/*bildet i hero image boksen, trengs egentlig ikke fordi det er bare ett bilde på siden men hjalp det føles mer ryddig for meg*/
.heroimage img {
    width: 100%;
    height: 100%;
}

/*bilde teksten*/
.bottom-left {
    position: absolute;
    bottom: -10px;
    left: 6px;
    text-shadow:black 2px 2px;
}

/*hero image boksen*/
.heroimage {
    width: 100%;
    height: 50%;
}

/*lenker til de andre sidene*/
.middle {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(188, 145, 96); 
}

/*containeren med alle youtube lenkene*/
.youtube {
    height: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
}

/*den ene typen youtube + tekst layout*/
.yt {
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*den andre typen tekst + youtube layout*/
.yt1 {
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*navn på videoen*/
.navn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*navn på videoen*/
.navn1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

/*tilpasset telefon også!*/
@media only screen and (max-width: 800px) {

    .main-container {
        width: 100%;
    }

    .header h3 {
        display: none;
    }

    .header h1 {
        font-size: 30px;
    }

    .bottom-left {
        font-size: 6px;
    }

    .yt {
        display: flex;
        flex-direction: column;
    }

    .yt1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .youtube {
        height: 1500px;
    }


}