body {
    background: rgb(255, 252, 224);
}

img {
    padding: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    background-color: rgb(253, 251, 236);
}

.header {
    background: rgb(242, 177, 227);
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.footer {
    height: 20%;
    width: 100%;
    background: rgb(215, 239, 173);
}

@media only screen and (max-width: 600px) {

    .middle {
        padding: 1em;
        flex-wrap: wrap;
    }

    .middle img {
        height: 70%;
        width: 70%;
        padding: 1em;
    }

    .header h1 {
        font-size: x-small;
    }


  }