body {
    background: rgb(255, 252, 224);
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.middle-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(253, 251, 236);
}

.header {
    background: rgb(242, 177, 227);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(238, 230, 205) 2px;
    
}

.middle2 {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(238, 230, 205) 2px;
    height: 150px;
    width: 85%;
    background-color: rgb(255, 255, 255);
}


.footer {
    height: 20%;
    background: rgb(215, 239, 173);
}

@media only screen and (max-width: 600px) {
    .middle {
      background-color: bisque;
    }
    img {
        width: 100%;
    }
  }