
body {
    background-color: rgb(227, 195, 243);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: solid white 4px
}

.box {
    display: flex;
    justify-content: center;
    border: solid rgb(252, 233, 255);
    padding: 20px;
    background-color: rgb(152, 44, 198);
    width: 400px;
    height: 400px;
}
.box2 {
    display: flex;
    justify-content: center;
    border: solid rgb(252, 233, 255);
    padding: 20px;
    background-color: rgb(90, 44, 198);
    width: 400px;
    height: 400px;
}
.box3 {
    display: flex;
    justify-content: center;
    border: solid rgb(252, 233, 255);
    padding: 20px;
    background-color: rgb(29, 170, 142);
    width: 400px;
    height: 400px;
}