body {
    background-color: rgb(237, 210, 249);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
}

.oppgave1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid rgb(255, 255, 255) 2px;
    height: 400px;
    width: 75%;
    background-color: white;
}

