body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

a {
    color: #785884;
    text-decoration: none;
    text-shadow: black;
}

a:hover {
    color: black;
}

.main-container {
    height: 1000px;
    width: 100%;
}

.header {
    background: #BC95CA;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
}

.header a {
    color: black;
}

.lenker {
    background: #E6CCBE;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.tekst {
    color: white;
}

@media screen and (min-width: 1000px) {
    img {
        width: 20%;
        

    }

  }