.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.container2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.box {
    display: flex;
    justify-content: center;
    width: 15%;
    border: solid black 2px;
    height: 700px;
}

.box2 {
    display: flex;
    justify-content: center;
    width: 100%;
    border: solid black 2px;
    height: 90px;
}

.box3 {
    display: flex;
    justify-content: center;
    width: 15%;
    border: solid black 2px;
    height: 700px;
}

.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid black 2px;
    height: 100%;
}

.box5 {
    display: flex;
    justify-content: center;
    width: 50%;
    border: solid black 2px;
    height: 50%;
}

