body {
    width: 100%;
    background-color: black;
}

.main-container {
    height: 1500px;
}

.container h1 {
    text-shadow:black 2px 2px;
}

img {
    width: 100%;
}

p {
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-left h1 {
    font-size: 50px;
    text-shadow:rgb(75, 23, 23) 2px 2px;
}

.top-right {
    position: absolute;
    top: 1px;
    right: 20px;
}

.top-left {
    position: absolute;
    top: -30px;
    left: 10px;
}

.bottom-left {
    position: absolute;
    bottom: -10px;
    left: 6px;
    text-shadow:black 2px 2px;
}

.heroimage {
    width: 100%;
    height: 50%;
}

.stat-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: solid rgb(255, 255, 255) 2px;

}

.info {
    width: 100%;
    height: 30%;
    border: solid rgb(255, 255, 255) 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.stats {
    width: 65%;
    height: 100%;
    border: solid rgb(255, 255, 255) 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stat1 {
    width: 70%;
    height: 100%;
    border: solid rgb(255, 255, 255) 2px;
    background-color: rgb(69, 61, 52);
}


.stat2 {
    width: 30%;
    height: 100%;
    border: solid rgb(255, 255, 255) 2px;
    background-color: rgb(62, 68, 50);
}

.stat2 img {
    width: 100%;
    height: 100%;
}

.stat3 {
    width: 100%;
    height: 100%;
    border: solid rgb(255, 255, 255) 2px;
    background-color: rgb(55, 71, 64);
}

.tekst {
    width: 35%;
    height: 100%;
    border: solid rgb(255, 255, 255) 2px;
    background-color: rgb(66, 61, 85);
}